In [65]:
# import pandas as pd
from zipfile import ZipFile
# from PIL import Image
from IPython.display import Image, display
# import os
import re
# import json
import pandas as pd
# import numpy as np
# import datetime as dt
# import matplotlib.pyplot as plt
# import seaborn as sns
# import wordcloud
# from sklearn.preprocessing import OneHotEncoder
# import matplotlib.animation as animation
import nltk
# from nltk.corpus import wordnet
# nltk.download('wordnet')
# nltk.download('punkt')
# nltk.download('averaged_perceptron_tagger')
# sns.set()

In [66]:
datadf = pd.read_csv('All Data/Raw Journey Data/Until16May2020(all jsons to csv).csv')
datadf.rename(columns={'Unnamed: 0':'id'}, inplace=True)
datadf.set_index('id', inplace=True)
datadf.head(2)

,text,date_modified,date_journal,address,lat,lon,posture,timezone,favourite,weather,photos,tags,no_punc,is_personal,cleaned_text
id,,,,,,,,,,,,,,,
1439137473084-3fc756cc3f8d6404,"The first thing I saw ,when I entered her room...",2017-08-31 01:44:57,2015-08-09 11:24:33,NaN,1.7976931348623157e+308,1.7976931348623157e+308,0,NaN,False,"{'id': -1, 'degree_c': 1.7976931348623157e+308...",[],"['personal', 'published']",The first thing I saw when I entered her room ...,1,"The first thing I saw , when I entered her roo..."
1439198245820-3fda14add91e3f20,Philosophy\n\n\n\n\n\n\nIt surprises me..hw u ...,2017-08-22 22:08:05,2015-08-10 04:17:25,NaN,1.7976931348623157e+308,1.7976931348623157e+308,0,NaN,False,"{'id': -1, 'degree_c': 1.7976931348623157e+308...",[],['personal'],Philosophy It surprises me hw u so effortlessl...,1,Philosophy It surprises me ... hw you so effor...

In [67]:
emotions = pd.read_csv('All Data/Raw Journey Data/EmotionsUntil16May2020.csv')
emotions.set_index('id', inplace=True)
emotions.head()

                               emotion updated_text
id
1439137473084-3fc756cc3f8d6404     [0]          NaN
1439198245820-3fda14add91e3f20     [0]          NaN
1439198461993-3fefd6db711e0342     [0]          NaN
1439575035515-3feb330512548cbd     [0]          NaN
1440393646546-3fdb2bc02b9f8020     [0]          NaN

In [80]:
# emotions = datadf[['posture']].rename(columns={'posture':'emotion'})
# emotions.emotion = [[0] for i in range(len(emotions))]
# emotions['updated_text'] = None
# emotions.to_csv('All Data/Raw Journey Data/EmotionsUntil16May2020.csv')
# emotions

In [71]:
def feed (value_given, i):
#     emotions.emotion[i]=int(value_given)
    emotions.loc[i , 'emotion'] = [int(x) for x in re.findall('\d', value_given)]
    print('\n-----------')

In [72]:
# def take_value():
#     while True:
#         value_given = input("------ \nEnter emotions, \n1 = Very Sad,\n2 = Sad\n3 = Happy, \n4 = Very Happy, \n5 = Disgust\n6 = Fear\n7 = Anger\n8 = Sad-Smile\n9 = Future/emotionless/observation \n")
#         try:
#             if ((value_given in ['p', 's']) or (int(value_given)>=1 and int(value_given)<=9)):
#                 return (value_given)
#                 break
#             else:
#                 print('Error, try again')
#         except:
#             print('Error, try again')

In [73]:
def take_value():
    value_given = input("------ \nEnter emotions, \n1 = Very Sad,\n2 = Sad\n3 = Happy, \n4 = Very Happy, \n5 = Disgust\n6 = Fear\n7 = Anger\n8 = Sad-Smile\n9 = Future/emotionless/observation \n")
    return(value_given)

In [81]:
how_many = input('how many? = ')
still_remaining = emotions[[x == [0] for x in emotions.emotion]]
chosen = still_remaining.sample(int(how_many), replace=False)
indices = chosen.index.values
for i in indices:
    for each in re.findall(r".{47}.jpg",datadf.photos[i]):
        try:
            path = 'All Data/Raw Journey Data/Until16May2020(no HQ media)/'+each
            display(Image(path))
        except:
            break
    print('\n\n',i,'\n\n',datadf.cleaned_text[i], '\n\n', datadf.date_journal[i], '\n')
    value_given = take_value()
    if value_given=='s': #save instantly
        break
    elif value_given=='p': #print whole entry
        print('\n\n',datadf.loc[i], '\n')
        value_given = take_value()
        feed(value_given, i)
    else:
        feed(value_given, i)
        
        
emotions.to_csv('All Data/Raw Journey Data/EmotionsUntil16May2020.csv')    
print('\n----------- \n Saved! \n')
print(len(emotions[[x == [0] for x in emotions.emotion]]), 'of ', len(emotions), 'remaining.')

how many? = 0

-----------
 Saved!

2589 of  2589 remaining.

In [75]:
# emotions.emotion.value_counts()

In [9]:
emotions.loc['1535822211378-3fee60c354fb54b0' , 'emotion'] = [4] # fixing a mistake

In [10]:




emotions.loc['1505130490476-3fe99ca23f25f368' , 'updated_text'] = r"What an end to this story . Just like anoushka's story . This ends with you belonging to someone else . I hadn't given up before this . I still have an ongoing sunflower painting in my room . I dont want your fucking apologies . I wish you were dead . You and sourav patwardhan . I wonder if this is because you havent met me in so long . No it's not . Fuck you . This is done ."

In [62]:
emotions.loc['1535822211378-3fee60c354fb54b0' , 'emotion']

[3, 4, 6, 7]